@import "@tokens/global.css";
@import "@tokens/components/searchInput.css";

/* Search Input Wrapper */
.cc-searchinput-wrapper {
  position: relative;
  display: inline-block;
  max-width: var(--searchinput-max-width);
  width: 100%;
}

/* Search Input Field */
.cc-searchinput {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  outline: none;
}

/* Focused State */
.cc-searchinput[data-focus] {
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-50);
}

/* Options Dropdown */
.cc-searchinput-options {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: var(--spacing-xs); /* Using a global spacing token */
  background-color: var(--color-white);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  z-index: 10;
  width: 100%;
}

/* Individual Option */
.cc-searchinput-option {
  padding: var(--input-padding);
  cursor: pointer;
}

.cc-searchinput-option[data-focus] {
  background-color: var(--color-sky-100);
}

.cc-searchinput-option[data-selected] {
  background-color: var(--color-sky-200);
  font-weight: var(--font-weight-bold);
}

.cc-searchinput-option[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
