@import "@tokens/global.css";
@import "@tokens/components/layout.css";

/* Layout Base Style */
.cc-layout {
  background-color: var(--color-white);
  border-radius: var(--layout-border-radius);
  box-shadow: var(--layout-shadow);
  transition: box-shadow 0.2s;
  margin: var(--spacing-xs);
}

/* Hover Effect */
.cc-layout:hover {
  box-shadow: var(--layout-shadow-hover);
}

/* Padding Variants */
.cc-layout.m-padding-small {
  padding: var(--layout-padding-small);
}

.cc-layout.m-padding-medium {
  padding: var(--layout-padding-medium);
}

.cc-layout.m-padding-large {
  padding: var(--layout-padding-large);
}

/* Border Variant */
.cc-layout.m-border {
  border: 1px solid var(--layout-border-color);
}

